@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AmazonEmber";
  src: url("/AmazonEmber/bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "AmazonEmber";
  src: url("/AmazonEmber/light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "AmazonEmber";
  src: url("/AmazonEmber/medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "AmazonEmber";
  src: url("/AmazonEmber/regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "AmazonEmber";
  src: url("/AmazonEmber/thin.ttf");
  font-weight: 100;
}

@keyframes scroll {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.animate {
  animation: scroll 100s linear infinite;
}
